<form class="customerForm" [formGroup]="customerForm">

  <label for="customer-id">Customer ID
    <input id="customer-id" type="text" formControlName="customerId" [(ngModel)]="validId">
  </label>

  <label for="firstName">First Name
    <input id="firstName" type="text" formControlName="firstName">
  </label>

  <label for="lastName">Last Name
    <input id="lastName" type="text" formControlName="lastName">
  </label>

  <label for="email">Email
    <input id="email" type="text" formControlName="email">
  </label>

</form>

<button (click)="createCustomer()" [disabled]="validId.length">CREATE CUSTOMER</button>
<button (click)="updateCustomer()" [disabled]="!validId.length">UPDATE CUSTOMER</button>
