<p>customer-form works!</p>

<p>
  {{ customerForm.value | json }}
</p>

<!-- <button type="button" (click)="findCustomer('123456')">FIND CUSTOMER</button> -->


<form class="customerForm" [formGroup]="customerForm">

  <label for="firstName">First Name
    <input id="firstName" type="text" formControlName="firstName">
  </label>

  <label for="lastName">Last Name
    <input id="lastName" type="text" formControlName="lastName">
  </label>

  <label for="email">Email
    <input id="email" type="text" formControlName="email">
  </label>

</form>

<button (click)="createCustomer()">CREATE CUSTOMER</button>

