:host {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.customerForm {
  display: flex;
  flex-direction: column;
}

.ng-invalid {
  border: 1px solid red;
}

.buttons {
  display: flex;
  gap: 15px;
}
