<div class="customer-select">
  <button type="button" (click)="getCustomer()">GET CUSTOMER</button>
  <button type="button" (click)="deleteCustomer()">DELETE CUSTOMER</button>
  <label for="customer-id">
    Customer ID
    <input type="text" id="customer-id" [(ngModel)]="customerId">
  </label>
</div>

<div *ngIf="customer" class="customer-display">
  {{ customer | json }}
</div>

<div class="spacer"></div>

<app-customer-form (newCustomer$)="createCustomer($event)" (customerUpdate$)="updateCustomer($event)"></app-customer-form>
