<div class="customer-select">

  <mat-form-field>
    <label for="customer-id">
      Customer ID
      <input matInput type="text" id="customer-id" [(ngModel)]="customerId">
    </label>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary" type="button" (click)="getCustomer()">GET CUSTOMER</button>
    <button mat-raised-button color="primary" type="button" (click)="deleteCustomer()">DELETE CUSTOMER</button>
  </div>
</div>

<div *ngIf="customer" class="customer-display">
  {{ customer | json }}
</div>

<div class="spacer"></div>

<app-customer-form (newCustomer$)="createCustomer($event)" (customerUpdate$)="updateCustomer($event)"></app-customer-form>
