:host {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 15px;
}

.spacer {
  flex-basis: 100%;
  width: 100%;
  height: 0px;
}

.customer-select {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
}

.customer-display {
  width: 400px;
  height: 200px;
}

.blue-div {
  background-color: blue;
  height: 100px;
  width: 200px;
  border: solid 1px gray;
}